# Node
/node_modules
/nodeServer/node_modules
/nodeServer/package-lock.json

# Laravel public
/public/hot
/public/storage
/public/assets/uploads

# Vendor
/vendor

# Environment files
.env
.env.*
!.env.example

# Storage keys
/storage/*.key



# Framework cache
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep

# Framework sessions
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep

# Framework testing
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep

# Framework views
/storage/framework/views/*
!/storage/framework/views/.g
