.main-section {
  width: 100%;
  overflow: hidden;
}
.slider-img {
  aspect-ratio: 1400/550;
  display: block;
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;

  @media (max-width: 1199px) {
    height: 400px;
  }

  @media (max-width: 767px) {
    height: 300px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
